[project]
name = ""
version = ""
description = ""
requires-python = ">=3.14"
dependencies = [
]

[tool.uv]
dev-dependencies = [
    "ruff",
    "pre-commit",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
